<div class="row">
    <div class="col-md-8 col-md-offset-2" style="margin-top: 2%;">
        <div class="form-group">
            <label for="selectList">Select Product</label>
            <select name="productList" id="selectList" [(ngModel)]="ProductHeader.name" (ngModelChange)="SearchProduct(ProductHeader.name)">
                <option *ngFor="let opt of ProductHeader">{{opt.name}}</option>
            </select>
        </div>
        <div class="row" *ngIf="isVisible">
            <table class="table table-striped">
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Store
                    </th>
                    <th>
                        Model
                    </th>
                    <th>
                        Price
                    </th>
                </tr>
                <tr *ngFor="let detail of productDetails">
                    <td>{{detail.title}}</td>
                    <td>{{detail.store}}</td>
                    <td>{{detail.model}}</td>
                    <td>{{detail.price}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>